$baseColor: #202c45;
$whiteColor: #fff;
$blueColor: #1196CC;
$normalFontSize: 20px;


@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

// Font face created -- (Vazirmatn)
@font-face {
    font-family: 'Vazirmatn';
    src: url('../fonts/webfonts/Vazirmatn[wght].woff2') format('woff2 supports variations'),
        url('../fonts/webfonts/Vazirmatn[wght].woff2') format('woff2-variations');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

// Creat mixin for flex box
@mixin flexBox($display, $justifyContent, $alignItems) {
    display: $display;
    justify-content: $justifyContent;
    align-items: $alignItems;
}

body,
html {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
}

* {
    margin: 0;
    padding: 0;
    direction: rtl;
    font-family: Vazirmatn;
    box-sizing: border-box;
}

ul,
li,
a {
    margin: 0;
    padding: 0;
}

.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}

.reveal.active-r {
    transform: translateY(0);
    opacity: 1;
}

// Top btn scss style
#topBtn a {
    position: fixed;
    bottom: -100px;
    right: 30px;
    font-size: 60px;
    transition: all .3s ease;
    color: $baseColor;
    z-index: 101;

    &:hover {
        color: $blueColor;
    }
}

//-------------------------------------------


// section Title sass style 
#title {
    background-color: $baseColor;

    .titleContainer {
        @include flexBox(flex, space-between, center);
        max-width: 70%;
        margin: auto;

        .contact {
            @include flexBox(flex, stretch, center);

            .items {
                @include flexBox(flex, stretch, center);
                padding: 10px;

                img {
                    width: 20px;
                    filter: invert(100%);
                }

                p {
                    color: $whiteColor;
                    padding: 0 10px;
                    margin: 0;
                }
            }

        }

        .social {
            @include flexBox(flex, stretch, center);

            .appoint {
                a {
                    display: inline-block;
                    text-decoration: none;
                    color: $whiteColor;
                    background-color: $blueColor;
                    padding: 20px 60px;

                    font: {
                        size: $normalFontSize;
                    }

                    ;
                    border-radius: 10px;
                }
            }
        }
    }
}

//-------------------------------------------

// Nvigation Section sass style
#navigation {
    position: sticky;
    top: 0;
    z-index: 99;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
    background-color: $whiteColor;

    .search-box {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        background-color: $whiteColor;
        z-index: 100;
        text-align: center;
        height: 0;
        overflow: hidden;
        transition: all .5s ease;

        img {
            width: 25px;
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
            filter: invert(70%);
            transition: all .5s ease;

            &:hover {
                filter: invert(0%);
            }
        }

        input {
            padding: 30px;
            width: 100%;
            text-align: center;
            font-size: 30px;
            border: none;
            outline: none;
        }
    }

    .navContainer {
        @include flexBox(flex, space-between, center);
        max-width: 70%;
        margin: auto;
        padding: 20px 0;

        // background-color: #fff;
        .nav {
            @include flexBox(flex, stretch, center);

            .bars {
                @include flexBox(flex, stretch, center);

                .searchBar {
                    // background-color: yellow;
                    padding: 10px 10px 0 10px;

                    img {
                        width: 30px;
                        vertical-align: baseline;
                    }
                }

                .barBtn {
                    width: 30px;
                    height: 30px;
                    cursor: pointer;
                    background-color: transparent;
                    border: none;
                    display: none;
                }
            }

            .nav-ul {
                @include flexBox(flex, stretch, center);
                transition: height .5s all;
                margin: 0;

                li {
                    list-style: none;
                    margin: 0;
                    padding: 0;

                    a {
                        display: inline-block;
                        text-decoration: none;
                        color: black;
                        margin: 0;

                        font: {
                            size: $normalFontSize;
                        }

                        ;
                        padding: 10px 20px;
                    }

                    .active-a {
                        background-color: $baseColor;
                        border-radius: 30px;
                        color: $whiteColor;
                    }

                    :hover {
                        @extend .active-a;
                    }

                    transition: all .5s ease;
                }

            }
        }

        .logo {
            width: 50px;
            height: 50px;

            img {
                width: 100%;
                height: 100%;
                cursor: pointer;
            }
        }
    }
}

//-------------------------------------------


// header Section sass style 
.sliderContainer {
    position: relative;

}

#info {
    position: relative;

    .info {
        position: absolute;
        top: -150px;

        .rowInfo {
            max-width: 80%;
            margin: auto;

            .topDoc {
                @include flexBox(flex, space-between, flex-start);
                flex-direction: column;
                padding: 40px;
                background-color: $baseColor;
                color: $whiteColor;

                p.bodyText {
                    margin-top: 20px;
                }

                button {
                    background-color: $baseColor;
                    color: $whiteColor;
                    padding: 10px 30px;
                    border: 3px solid $whiteColor;
                    border-radius: 30px;
                    margin-top: 30px;
                    transition: all .5s ease;
                    font-size: $normalFontSize;

                    &:hover {
                        background-color: $whiteColor;
                        color: black;
                        box-shadow: 0 0 20px 3px $whiteColor;
                    }
                }
            }

            .wt {
                @include flexBox(flex, space-between, flex-start);
                flex-direction: column;
                background-color: $blueColor;
                color: $whiteColor;
                padding: 40px;

                .workOut {
                    margin-top: 30px;
                    width: 100%;

                    .workItems {
                        @include flexBox(flex, space-between, center);
                    }
                }

                button {
                    padding: 10px 30px;
                    background-color: transparent;
                    border: 3px solid $whiteColor;
                    border-radius: 30px;
                    margin-top: 23px;
                    color: $whiteColor;
                    transition: all .5s ease;

                    &:hover {
                        background-color: $whiteColor;
                        color: black;
                        box-shadow: 0 0 20px 3px $whiteColor;
                    }
                }
            }

            .service {
                @include flexBox(flex, space-between, flex-start);
                flex-direction: column;
                padding: 40px;
                color: $whiteColor;
                background-color: $baseColor;

                button {
                    background-color: $baseColor;
                    color: $whiteColor;
                    padding: 10px 30px;
                    border: 3px solid $whiteColor;
                    border-radius: 30px;
                    margin-top: 30px;
                    transition: all .5s ease;

                    &:hover {
                        background-color: $whiteColor;
                        color: black;
                        box-shadow: 0 0 20px 3px $whiteColor;
                    }
                }
            }

            .contact {
                @include flexBox(flex, space-between, flex-start);
                flex-direction: column;
                padding: 40px;
                color: $whiteColor;
                background-color: $blueColor;

                button {
                    padding: 10px 30px;
                    background-color: transparent;
                    border: 3px solid $whiteColor;
                    border-radius: 30px;
                    margin-top: 10px;
                    color: $whiteColor;
                    transition: all .5s ease;

                    &:hover {
                        background-color: $whiteColor;
                        color: black;
                        box-shadow: 0 0 20px 3px $whiteColor;
                    }
                }
            }
        }
    }
}

// weCare section sass style
#weCare {
    .weCareContainer {
        margin-top: 300px;
        margin-bottom: 100px;

        .weCareContent {
            max-width: 70%;
            margin: auto;

            .weCareImg {
                padding: 0;

                width: 35%;

                img {
                    width: 100%;
                    height: 100%;
                }

                background-color: yellow;
            }


            .weCareText {
                width: 65%;
                padding-right: 30px;

                p {
                    font: {
                        size: $normalFontSize;

                    }

                    ;
                    padding: 20px 0;
                }

                .hologram {
                    img {
                        width: 80px;
                        margin: 0 10px;
                    }
                }

                button {
                    border: none;
                    margin-top: 30px;
                    padding: 15px 30px;
                    border-radius: 30px;
                    background-color: $baseColor;
                    color: $whiteColor;
                    font-size: $normalFontSize;
                    transition: all .5s ease;

                    &:hover {
                        background-color: $blueColor;
                    }
                }
            }
        }
    }
}


// swiper scss style and certificate sass style
#certificate {
    background-color: #eee;
    padding: 80px 0;

    .cerSwiper {
        max-width: 70%;
        margin: auto;
    }
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper {
    margin-left: auto;
    margin-right: auto;
}

//------------------------------------------

// SErvice Section sass style
#service {
    padding: 100px 0;

    .serviceContainer {
        max-width: 70%;
        margin: auto;

        .serviceTitle {
            text-align: center;

            img {
                padding: 10px;
            }

            p {
                color: gray;

                font: {
                    size: $normalFontSize;
                }

                ;
            }
        }

        .serviceContent {
            margin: 70px 0;

            .servItems {
                @include flexBox(flex, stretch, flex-start);
                padding: 40px;

                &:hover .servIcon {
                    transform: rotateY(180deg);
                    transition: all .5s ease;
                }

                .servIcon {
                    width: 70px;
                    height: 70px;
                    padding: 15px;
                    border-radius: 50%;
                    background-color: $blueColor;
                    text-align: center;

                    img {
                        width: 100%;
                    }


                }

                .servText {
                    width: 85%;
                    padding-right: 20px;
                    padding-top: 10px;

                    p {
                        margin-top: 15px;
                        color: gray;
                        text-align: justify;
                        font-size: 18px;
                    }
                }
            }
        }
    }
}

//---------------------------------------

// Smile Section sass style
#smile {
    background-image: url("../img/smile.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    .smileContainer {
        text-align: center;
        padding: 150px 0;
        background-color: #202c45d7;
        margin: auto;

        .smileContent {
            max-width: 70%;
            margin: auto;

            .rowItems {
                @include flexBox(flex, center, center);
                flex-direction: column;
                color: $whiteColor;
                text-align: center;
                padding: 20px;

                img {
                    width: 70px;
                    filter: invert(100%);
                }

                h2 {
                    padding-top: 20px;
                }
            }
        }
    }
}

// deperment Section sass style
#depertment {
    background-color: #f8f8f8;
    padding: 100px 0;

    .depContainer {
        max-width: 70%;
        margin: auto;

        .depTitle {
            text-align: center;


            img {
                padding: 10px;
            }


            p {
                color: gray;
                font-size: $normalFontSize;
                text-align: center;
            }
        }

        .depContent {
            margin-top: 50px;

            .depRow {
                padding: 20px;
                background-color: $whiteColor;
                margin: 15px;
                width: calc(33.33% - 30px);

                .depItems {
                    cursor: pointer;
                    &:hover{
                        .hoverBox{
                            background-color: transparent;
                        }
                    }
                    div {
                        position: relative;
                        img {
                            width: 100%;
                            border-radius: 15px;
                        }
                        .hoverBox{
                            border-radius: 15px;
                            width: 100%;
                            height: 100%;
                            background-color: #1197ccbe;
                            position: absolute;
                            top: 0;
                            transition: all 1s ease;
                            cursor: pointer;
                        }
                    }

                    h4 {
                        padding: 10px 0;
                    }

                    p {
                        color: gray;
                    }

                    button {
                        padding: 15px 30px;
                        border-radius: 10px;
                        border: none;
                        background-color: $baseColor;
                        color: $whiteColor;
                        transition: all .5s ease;

                        &:hover {
                            background-color: $blueColor;
                        }
                    }
                }
            }
        }
    }


}

//---------------------------------------

// dentist Section Start
#dentist {
    padding: 100px 0;

    .dentistContainer {
        max-width: 70%;
        margin: auto;

        .dentistTitle {
            text-align: center;

            img {
                padding: 10px;
            }

            p {
                color: gray;
                font-size: $normalFontSize;
            }
        }

        .dentistContent {
            margin-top: 50px;

            .dentistSwiper {
                .dentistSlide {
                    background-color: #eee;
                    cursor: pointer;
                    &:hover{
                        .dentBox{
                            background-color: transparent;
                        }
                    }
                    div{
                        position: relative;
                        .dentBox{
                            
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            top: 0;
                            background-color: #1197ccb7;
                            transition: all 1s ease;
                            cursor: pointer;
                        }
                    }

                    h4 {
                        margin-top: 15px;
                    }

                    p {
                        color: $blueColor;

                        font: {
                            size: 14px;
                        }
                    }

                    

                    .dent-social {
                        @include flexBox(flex, center, center);
                        padding-bottom: 10px;

                        img {
                            width: 30px;
                            margin: 8px;
                        }
                    }
                }
            }
        }
    }
}

//---------------------------------------

// price Section sass style
#price {
    background-color: #f8f8f8;
    padding: 100px 0;

    .priceContainer {
        max-width: 70%;
        margin: auto;

        .priceItems {
            text-align: center;

            img {
                padding: 10px;
            }

            p {
                color: gray;

                font: {
                    size: $normalFontSize;
                }

                ;
            }
        }
    }

    .priceContent {
        @include flexBox(flex, center, center);

        .price-rowItems {
            @include flexBox(flex, center, center);
            border: 5px solid $blueColor;
            width: calc(33.33% - 40px);
            margin: 20px;
            flex-direction: column;
            padding: 40px;
            background-color: $whiteColor;

            .priceIcons {
                @include flexBox(flex, center, center);
                background-color: $blueColor;
                width: 80px;
                height: 80px;
                padding: 10px;
                @include flexBox(flex, center, center);
                border-radius: 50%;

                img {
                    width: 100%;
                }
            }

            h3 {
                margin: 10px;
            }

            h2 {
                margin: 20px;
                font-weight: bold;
            }

            p.bodyText {
                color: gray;
                margin: 10px 0 20px 0;
                text-align: justify;
                font-size: 16px;
            }

            button {
                padding: 10px 70px;
                border: none;
                background-color: #1196CC;
                color: $whiteColor;

                font: {
                    size: $normalFontSize;
                }

                ;
                border-radius: 15px;
                margin: 40px 0 0 20px;
            }

            transition: all .5s ease;

            &:hover {
                transform: translateY(-20px);
            }
        }
    }




}

//---------------------------------------

// Contact Secttion sass style
#contact {
    background-image: url("../img/smile.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    .conactContainer {
        background-color: #202c45d7;

        .contact-content {
            max-width: 70%;
            text-align: center;
            padding: 150px 0;
            margin: auto;
            color: $whiteColor;

            .call {
                @include flexBox(flex, center, center);

                img {
                    width: 35px;
                    margin: 0;
                    padding: 0;
                    filter: invert(100%);
                }

                h2 {
                    margin: 0;
                    padding: 20px 10px 10px 10px;
                }
            }

            h2 {
                padding: 10px;

            }

            p {
                padding: 20px;
            }

            button {
                padding: 20px 60px;
                border: none;
                background-color: #1196CC;
                margin-top: 20px;
                color: $whiteColor;
                border-radius: 30px;
                transition: all .5s ease;

                &:hover {
                    box-shadow: 0 0 20px 3px $whiteColor;
                }
            }
        }
    }
}

//---------------------------------------

// News Section sass sttyle
#news {
    padding: 100px 0;
    transition: all .5s ease;

    .newsContainer {
        max-width: 70%;
        margin: auto;

        .newstitle {
            text-align: center;

            img {
                padding: 10px;
            }

            p {
                color: gray;

                font: {
                    size: $normalFontSize;
                }

                ;
            }
        }

        .newsContent {
            margin-top: 100px;

            .newsSlide {
                background-color: #eee;
                
                .slideItems {
                    @include flexBox(flex, stretch, stretch);
                    flex-direction: column;
                    cursor: pointer;
                    &:hover{
                        .newsBox{
                            background-color: transparent;
                        }
                    }
                    div{
                        position: relative;
                        .newsBox{
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            background-color: #202c45a9;
                            top: 0;
                            transition: all 1s ease;
                            
                        }
                    }
                    .newsComment {
                        @include flexBox(flex, space-between, center);
                        background-color: $baseColor;
                        color: $whiteColor;
                        padding: 10px;
                        width: 100%;

                        div {
                            padding: 0;
                            margin: 0;
                            @include flexBox(flex, center, center);

                            img {
                                width: 15px;
                                filter: invert(100%);
                            }

                            p {
                                padding: 0;
                                margin: 5px 5px 0 5px;
                            }
                        }
                    }

                    .newsBody {
                        padding: 20px;
                        @include flexBox(flex, center, flex-start);
                        flex-direction: column;

                        h4 {
                            padding: 20px 0;
                        }

                        p {
                            font-size: 14px;
                            color: gray;
                            text-align: justify;
                        }
                    }

                    .newsBtn {
                        @include flexBox(flex, flex-start, center);
                        padding: 20px;

                        button {
                            padding: 15px 30px;
                            border: none;
                            background-color: $baseColor;
                            color: $whiteColor;
                            border-radius: 20px;
                            transition: all .5s ease;

                            &:hover {
                                background-color: $blueColor;
                            }

                        }
                    }
                }
            }
        }
    }
}

//---------------------------------------

#client {
    background-color: $blueColor;

    .clientSwiper {
        max-width: 70%;
        text-align: center;

        .clientSlide {
            background-color: $blueColor;
        }
    }
}

#footer {
    padding: 100px 0;
    background-color: $baseColor;

    .footerContainer {
        max-width: 75%;
        margin: auto;

        .footerAbout {
            padding: 30px;
            // background-color: #202c45;
            color: $whiteColor;

            h2 {
                font: {
                    size: 40px;
                    weight: 900;
                }
            }

            p {
                font-size: 16px;
                color: gray;
            }

            .footerSocial {
                @include flexBox(flex, stretch, center);

                img {
                    width: 30px;
                    height: 30px;
                    margin: 5px;
                }
            }
        }
    }

    .footerExplor {
        color: $whiteColor;
        padding: 30px 0;
        @include flexBox(flex, flex-start, flex-start);
        flex-direction: column;
        h2{
            padding-right: 20px
        }
        .export-uls {
            @include flexBox(flex, center, stretch);

            // background-color: yellow;
            ul {
                flex-direction: column;

                li {
                    color: gray;
                    padding: 10px 10px;
                    list-style-type: "<";

                    &:hover {
                        color: #1196CC;
                    }

                    a {
                        text-decoration: none;
                        color: gray;

                    }
                }
            }

            ;
        }

        ;
    }

    .footerNews {
        padding: 30px;
        color: $whiteColor;

        .newsItems {
            padding: 10px 0;

            .newsContent {
                margin: 20px 0;
                @include flexBox(flex, stretch, stretch);

                img {
                    width: 80px;
                    height: 80px;
                }

                .linkNews {
                    padding: 10px 20px;

                    p {
                        color: gray;
                        line-height: .5px;
                    }

                    a {
                        font-size: 14;
                        color: $whiteColor;
                        text-decoration: none;
                    }
                }
            }
        }
    }

    .footerContact {
        padding: 30px;
        color: $whiteColor;

        .footerItems {
            color: gray;
            padding: 20px 0;

            div {
                @include flexBox(flex, stretch, center);
                padding: 8px 0;

                img {
                    width: 20px;
                    filter: invert(70%);
                }

                p {
                    margin: 0;
                    padding: 0 10px;
                }
            }
        }
    }
}



//-------------------------------------------------------------------------//
@media screen and (max-width: 600px) {
    #title {
        .titleContainer {
            max-width: 100%;
            @include flexBox(flex, stretch, center);
            flex-direction: column;

            .contact {
                @include flexBox(flex, stretch, stretch);
                flex-direction: column;
                padding: 10px;
            }

            .social {
                padding: 10px;
            }
        }
    }

    #navigation {
        .navContainer {
            max-width: 100%;

            .logo {
                position: absolute;
                top: 30px;
                left: 5px;
            }

            .nav {
                @include flexBox(flex, stretch, stretch);
                flex-direction: column;
                width: 100%;
                margin-top: 10px;

                .bars {
                    .barBtn {
                        display: block;
                        margin-right: 10px;
                    }
                }

                .nav-ul {
                    background-color: $baseColor;
                    margin-top: 10px;
                    padding: 0;
                    @include flexBox(flex, stretch, flex-start);
                    flex-direction: column;
                    width: 100%;
                    height: 0px;
                    overflow: hidden;

                    li {
                        width: 100%;
                        border-bottom: 1px solid $blueColor;

                        a {
                            width: 100%;
                            border-radius: 0;
                            color: $whiteColor;

                            &:hover {
                                color: $blueColor;
                            }
                        }
                    }
                }
            }
        }
    }

    #info {
        .info {
            position: static;

            .rowInfo {
                max-width: 100%;
            }
        }
    }

    #weCare {
        .weCareContainer {
            margin-top: 100px;

            .weCareContent {
                max-width: 90%;
                @include flexBox(flex, stretch, stretch);
                flex-direction: column;

                .weCareImg {
                    width: 100%;
                }

                .weCareText {
                    width: 100%;
                    margin-top: 20px;
                    padding: 0;
                }
            }
        }
    }

    #service {
        .serviceContainer {
            max-width: 100%;
        }
    }

    #depertment {
        .depContainer {
            max-width: 90%;

            .depContent {
                .depRow {
                    margin: 40px 20px;
                    width: calc(100% - 40px);
                }
            }
        }
    }

    #dentist {
        .dentistContainer {
            max-width: 90%;
        }
    }

    #price {
        .priceContainer {
            max-width: 100%;
        }

        .priceContent {
            .price-rowItems {
                width: calc(100% - 70px);
                margin: 20px 35px;

                button {
                    padding: 10px 60px;
                }
            }
        }

    }

    #footer {
        .footerContainer {
            max-width: 100%;
        }
    }
}

@media screen and (min-width: 600px) and (max-width: 768px) {
    #title {
        .titleContainer {
            max-width: 100%;
            @include flexBox(flex, stretch, center);
            flex-direction: column;

            .contact {
                @include flexBox(flex, stretch, stretch);
                flex-direction: column;
                padding: 10px;
            }

            .social {
                padding: 10px;
            }
        }
    }

    #navigation {
        .navContainer {
            max-width: 100%;

            .logo {
                position: absolute;
                top: 30px;
                left: 5px;
            }

            .nav {
                @include flexBox(flex, stretch, stretch);
                flex-direction: column;
                width: 100%;
                margin-top: 10px;

                .bars {
                    .barBtn {
                        display: block;
                        margin-right: 10px;
                    }
                }

                .nav-ul {
                    background-color: $baseColor;
                    margin-top: 10px;
                    padding: 0;
                    @include flexBox(flex, stretch, flex-start);
                    flex-direction: column;
                    width: 100%;
                    height: 0px;
                    overflow: hidden;

                    li {
                        width: 100%;
                        border-bottom: 1px solid $blueColor;

                        a {
                            width: 100%;
                            border-radius: 0;
                            color: $whiteColor;

                            &:hover {
                                color: $blueColor;
                            }
                        }
                    }
                }
            }
        }
    }

    #info {
        .info {
            position: static;

            .rowInfo {
                max-width: 100%;
            }
        }
    }

    #weCare {
        .weCareContainer {
            margin-top: 100px;

            .weCareContent {
                max-width: 90%;
                @include flexBox(flex, stretch, stretch);
                flex-direction: column;

                .weCareImg {
                    width: 100%;
                }

                .weCareText {
                    width: 100%;
                    margin-top: 20px;
                    padding: 0;
                }
            }
        }
    }

    #service {
        .serviceContainer {
            max-width: 90%;

            .serviceContent {
                .servItems {
                    @include flexBox(flex, stretch, stretch);
                    flex-direction: column;

                    .servText {
                        padding: 20px 0;
                    }
                }
            }
        }
    }

    #depertment {
        .depContainer {
            max-width: 90%;

            .depContent {
                .depRow {
                    margin: 20px;
                    width: calc(100% - 40px);
                }
            }
        }
    }

    #dentist {
        .dentistContainer {
            max-width: 85%;
        }
    }

    #price {
        .priceContainer {
            max-width: 90%;
        }

        .priceContent {
            .price-rowItems {
                width: calc(100% - 70px);
                margin: 20px 35px;

                button {
                    padding: 10px 60px;
                }
            }
        }
    }

    #footer {
        .footerContainer {
            max-width: 100%;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    #title {
        .titleContainer {
            max-width: 100%;
            @include flexBox(flex, stretch, center);
            flex-direction: column;

            .contact {
                @include flexBox(flex, stretch, stretch);
                flex-direction: column;
                padding: 10px;
            }

            .social {
                padding: 10px;
            }
        }
    }

    #navigation {
        .navContainer {
            max-width: 100%;

            .logo {
                position: absolute;
                top: 30px;
                left: 5px;
            }

            .nav {
                @include flexBox(flex, stretch, stretch);
                flex-direction: column;
                width: 100%;
                margin-top: 10px;

                .bars {
                    .barBtn {
                        display: block;
                        margin-right: 10px;
                    }
                }

                .nav-ul {
                    background-color: $baseColor;
                    margin-top: 10px;
                    padding: 0;
                    @include flexBox(flex, stretch, flex-start);
                    flex-direction: column;
                    width: 100%;
                    height: 0px;
                    overflow: hidden;

                    li {
                        width: 100%;
                        border-bottom: 1px solid $blueColor;

                        a {
                            width: 100%;
                            border-radius: 0;
                            color: $whiteColor;

                            &:hover {
                                color: $blueColor;
                            }
                        }
                    }
                }
            }
        }
    }

    #info {
        .info {
            position: static;

            .rowInfo {
                max-width: 100%;
            }
        }
    }

    #weCare {
        .weCareContainer {
            margin-top: 100px;

            .weCareContent {
                max-width: 90%;
                @include flexBox(flex, stretch, stretch);
                flex-direction: column;

                .weCareImg {
                    width: 100%;
                }

                .weCareText {
                    width: 100%;
                    margin-top: 20px;
                    padding: 0;
                }
            }
        }
    }

    #service {
        .serviceContainer {
            max-width: 90%;

            .serviceContent {
                .servItems {
                    @include flexBox(flex, stretch, stretch);
                    flex-direction: column;

                    .servText {
                        padding: 20px 0;
                    }
                }
            }
        }
    }

    #depertment {
        .depContainer {
            max-width: 90%;

            .depContent {
                .depRow {
                    margin: 20px;
                    width: calc(100% - 40px);
                }
            }
        }
    }

    #dentist {
        .dentistContainer {
            max-width: 85%;
        }
    }

    #price {
        .priceContainer {
            max-width: 85%;
        }

        .priceContent {
            .price-rowItems {
                width: calc(100% - 70px);
                margin: 20px 35px;

                button {
                    padding: 10px 60px;
                }
            }
        }

    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    #title {
        .titleContainer {
            max-width: 100%;
            @include flexBox(flex, stretch, center);
            flex-direction: column;

            .contact {
                @include flexBox(flex, stretch, stretch);
                flex-direction: column;
                padding: 10px;
            }

            .social {
                padding: 10px;
            }
        }
    }

    #navigation {
        .navContainer {
            max-width: 100%;
        }
    }

    #info {
        .info {
            position: static;

            .rowInfo {
                max-width: 100%;

                .topDoc {
                    background-color: $blueColor;

                    button {
                        background-color: transparent;
                    }
                }

                .wt {
                    background-color: $baseColor;

                }
            }
        }
    }

    #service {
        .serviceContainer {
            max-width: 90%;

            .serviceContent {
                .servItems {
                    @include flexBox(flex, stretch, stretch);
                    flex-direction: column;

                    .servText {
                        padding: 20px 0;
                    }
                }
            }
        }
    }

    #dentist {
        .dentistContainer {
            max-width: 85%;
        }
    }

    #price {
        .priceContainer {
            max-width: 70%;
        }

        .priceContent {
            .price-rowItems {
                width: calc(100% - 70px);
                margin: 20px 35px;

                button {
                    padding: 10px 60px;
                }
            }
        }

    }
    
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
    #info {
        .info {
            position: static;

            .rowInfo {
                max-width: 100%;

                .topDoc {
                    background-color: $blueColor;

                    button {
                        background-color: transparent;
                    }
                }

                .wt {
                    background-color: $baseColor;

                }
            }
        }
    }

    #service {
        .serviceContainer {
            max-width: 80%;

            .serviceContent {
                .servItems {
                    @include flexBox(flex, stretch, stretch);
                    flex-direction: column;

                    .servText {
                        padding: 20px 0;
                    }
                }
            }
        }
    }

    #dentist {
        .dentistContainer {
            max-width: 83%;
        }
    }

    #price {
        .priceContainer {
            max-width: 85%;
        }

        .priceContent {
            .price-rowItems {
                width: calc(50% - 70px);
                margin: 20px 35px;

                button {
                    padding: 10px 60px;
                }
            }
        }
    }

    #footer {
        .footerContainer {
            max-width: 100%;
        }
    }
}

@media screen and (min-width: 1400px) and (max-width: 1600px) {}