@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
@font-face {
  font-family: "Vazirmatn";
  src: url("../fonts/webfonts/Vazirmatn[wght].woff2") format("woff2 supports variations"), url("../fonts/webfonts/Vazirmatn[wght].woff2") format("woff2-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
body,
html {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  direction: rtl;
  font-family: Vazirmatn;
  box-sizing: border-box;
}

#topBtn a {
  position: fixed;
  bottom: -100px;
  right: 30px;
  font-size: 60px;
  transition: all 0.3s ease;
  color: #202c45;
  z-index: 101;
}
#topBtn a:hover {
  color: #1196CC;
}

#title {
  background-color: #202c45;
}
#title .titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 70%;
  margin: auto;
}
#title .titleContainer .contact {
  display: flex;
  justify-content: stretch;
  align-items: center;
}
#title .titleContainer .contact .items {
  display: flex;
  justify-content: stretch;
  align-items: center;
  padding: 10px;
}
#title .titleContainer .contact .items img {
  width: 20px;
  filter: invert(100%);
}
#title .titleContainer .contact .items p {
  color: #fff;
  padding: 0 10px;
  margin: 0;
}
#title .titleContainer .social {
  display: flex;
  justify-content: stretch;
  align-items: center;
}
#title .titleContainer .social .appoint a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background-color: #1196CC;
  padding: 20px 60px;
  font-size: 20px;
  border-radius: 10px;
}

#navigation {
  position: sticky;
  top: 0;
  z-index: 99;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
#navigation .search-box {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background-color: #fff;
  z-index: 99;
  text-align: center;
  height: 0;
  overflow: hidden;
  transition: all 0.5s ease;
}
#navigation .search-box img {
  width: 25px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  filter: invert(70%);
  transition: all 0.5s ease;
}
#navigation .search-box img:hover {
  filter: invert(0%);
}
#navigation .search-box input {
  padding: 30px;
  width: 100%;
  text-align: center;
  font-size: 30px;
  border: none;
  outline: none;
}
#navigation .navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 70%;
  margin: auto;
  padding: 20px 0;
}
#navigation .navContainer .nav {
  display: flex;
  justify-content: stretch;
  align-items: center;
}
#navigation .navContainer .nav .bars {
  display: flex;
  justify-content: stretch;
  align-items: center;
}
#navigation .navContainer .nav .bars .searchBar {
  padding: 10px 10px 0 10px;
}
#navigation .navContainer .nav .bars .searchBar img {
  width: 30px;
  vertical-align: baseline;
}
#navigation .navContainer .nav .bars .barBtn {
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  display: none;
}
#navigation .navContainer .nav .nav-ul {
  display: flex;
  justify-content: stretch;
  align-items: center;
  transition: height 0.5s all;
  margin: 0;
}
#navigation .navContainer .nav .nav-ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}
#navigation .navContainer .nav .nav-ul li a {
  display: inline-block;
  text-decoration: none;
  color: black;
  margin: 0;
  font-size: 20px;
  padding: 10px 20px;
}
#navigation .navContainer .nav .nav-ul li .active, #navigation .navContainer .nav .nav-ul li :hover {
  background-color: #202c45;
  border-radius: 30px;
  color: #fff;
}
#navigation .navContainer .logo {
  width: 50px;
  height: 50px;
}
#navigation .navContainer .logo img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.mainContainer {
  max-width: 90%;
  margin: 60px auto;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
}
.mainContainer .mainContent {
  width: 50%;
}
.mainContainer .content-text h1 {
  color: #1196CC;
  font-size: 65px;
}
.mainContainer .content-text p {
  font-weight: 700;
  padding-top: 40px;
  text-align: justify;
}
.mainContainer .content-text .video {
  border-radius: 20px;
  margin-top: 20px;
  box-shadow: 0 0 20px 5px rgb(194, 194, 194);
}
.mainContainer .content-text .video video {
  border-radius: 20px;
  width: 100%;
}
.mainContainer .content-row {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: column;
  padding: 30px 60px;
}
.mainContainer .content-row .rowItems {
  display: flex;
  justify-content: stretch;
  align-items: flex-start;
}
.mainContainer .content-row .rowItems .icons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 40px;
  background-color: #1196CC;
  border-radius: 30px;
}
.mainContainer .content-row .rowItems .icons img {
  filter: invert(100%);
  width: 50px;
  height: 60px;
}
.mainContainer .content-row .rowItems .rowItems-text {
  margin-right: 20px;
}
.mainContainer .content-row .rowItems .rowItems-text h4 {
  margin-bottom: 30px;
}
.mainContainer .content-row .rowItems .rowItems-text p {
  text-align: justify;
}

#footer {
  padding: 100px 0;
  background-color: #202c45;
}
#footer .footerContainer {
  max-width: 70%;
  margin: auto;
}
#footer .footerContainer .footerAbout {
  padding: 30px;
  color: #fff;
}
#footer .footerContainer .footerAbout h2 {
  font-size: 40px;
  font-weight: 900;
}
#footer .footerContainer .footerAbout p {
  font-size: 16px;
  color: gray;
}
#footer .footerContainer .footerAbout .footerSocial {
  display: flex;
  justify-content: stretch;
  align-items: center;
}
#footer .footerContainer .footerAbout .footerSocial img {
  width: 30px;
  height: 30px;
  margin: 5px;
}
#footer .footerExplor {
  color: #fff;
  padding: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
#footer .footerExplor .export-uls {
  display: flex;
  justify-content: center;
  align-items: stretch;
}
#footer .footerExplor .export-uls ul {
  flex-direction: column;
}
#footer .footerExplor .export-uls ul li {
  color: gray;
  padding: 10px 15px;
  list-style-type: "<";
}
#footer .footerExplor .export-uls ul li:hover {
  color: #1196CC;
}
#footer .footerExplor .export-uls ul li a {
  text-decoration: none;
  color: gray;
}
#footer .footerNews {
  padding: 30px;
  color: #fff;
}
#footer .footerNews .newsItems {
  padding: 10px 0;
}
#footer .footerNews .newsItems .newsContent {
  margin: 20px 0;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
}
#footer .footerNews .newsItems .newsContent img {
  width: 80px;
  height: 80px;
}
#footer .footerNews .newsItems .newsContent .linkNews {
  padding: 10px 20px;
}
#footer .footerNews .newsItems .newsContent .linkNews p {
  color: gray;
  line-height: 0.5px;
}
#footer .footerNews .newsItems .newsContent .linkNews a {
  font-size: 14;
  color: #fff;
  text-decoration: none;
}
#footer .footerContact {
  padding: 30px;
  color: #fff;
}
#footer .footerContact .footerItems {
  color: gray;
  padding: 20px 0;
}
#footer .footerContact .footerItems div {
  display: flex;
  justify-content: stretch;
  align-items: center;
  padding: 8px 0;
}
#footer .footerContact .footerItems div img {
  width: 20px;
  filter: invert(70%);
}
#footer .footerContact .footerItems div p {
  margin: 0;
  padding: 0 10px;
}

@media screen and (max-width: 600px) {
  #navigation {
    position: relative;
  }
  #navigation .navContainer {
    max-width: 100%;
  }
  #navigation .navContainer .nav {
    width: 100%;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    flex-direction: column;
  }
  #navigation .navContainer .nav .bars {
    padding: 10px;
  }
  #navigation .navContainer .nav .bars .barBtn {
    display: block;
  }
  #navigation .navContainer .nav .nav-ul-respons {
    transition: height 0.5s all;
    height: 0px;
    overflow: hidden;
    margin-top: 10px;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    flex-direction: column;
    padding-top: 10px;
  }
  #navigation .navContainer .nav .nav-ul-respons .li-respons {
    width: 100%;
    background-color: #202c45;
    border-bottom: 1px solid #1196CC;
  }
  #navigation .navContainer .nav .nav-ul-respons .li-respons a {
    color: #fff;
  }
  #navigation .navContainer .logo {
    position: absolute;
    top: 30px;
    left: 5px;
  }
  #footer .footerContainer {
    max-width: 100%;
  }
  .mainContainer {
    max-width: 100%;
  }
  .mainContainer .mainContent {
    width: 90%;
    margin: auto;
  }
  .mainContainer .content-row {
    padding: 50px 0;
  }
  .mainContainer .content-row .rowItems {
    display: flex;
    justify-content: stretch;
    align-items: flex-start;
    flex-direction: column;
  }
  .mainContainer .content-row .rowItems .rowItems-text h4 {
    margin-bottom: 30px;
    margin-top: 30px;
  }
  .mainContainer .content-row .rowItems .rowItems-text p {
    text-align: justify;
  }
  #title .titleContainer {
    display: flex;
    justify-content: stretch;
    align-items: center;
    flex-direction: column;
    max-width: 100%;
    padding: 10px;
  }
  #title .titleContainer .contact {
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    flex-direction: column;
    padding: 20px;
  }
  #title .titleContainer .social {
    padding: 20px;
  }
  #title .titleContainer .social .appoint a {
    padding: 10px 60px;
  }
}
@media screen and (min-width: 600px) and (max-width: 768px) {
  #navigation {
    position: relative;
  }
  #navigation .navContainer {
    max-width: 100%;
  }
  #navigation .navContainer .nav {
    width: 100%;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    flex-direction: column;
  }
  #navigation .navContainer .nav .bars {
    padding: 10px;
  }
  #navigation .navContainer .nav .bars .barBtn {
    display: block;
  }
  #navigation .navContainer .nav .nav-ul-respons {
    transition: height 0.5s all;
    height: 0px;
    overflow: hidden;
    margin-top: 10px;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    flex-direction: column;
    padding-top: 10px;
  }
  #navigation .navContainer .nav .nav-ul-respons .li-respons {
    width: 100%;
    background-color: #202c45;
    border-bottom: 1px solid #1196CC;
  }
  #navigation .navContainer .nav .nav-ul-respons .li-respons a {
    color: #fff;
  }
  #navigation .navContainer .logo {
    position: absolute;
    top: 30px;
    left: 5px;
  }
  #footer .footerContainer {
    max-width: 100%;
  }
  .mainContainer {
    max-width: 100%;
  }
  .mainContainer .mainContent {
    width: 90%;
    margin: auto;
  }
  .mainContainer .content-row {
    padding: 50px 0;
  }
  .mainContainer .content-row .rowItems {
    display: flex;
    justify-content: stretch;
    align-items: flex-start;
    flex-direction: column;
  }
  .mainContainer .content-row .rowItems .rowItems-text h4 {
    margin-bottom: 30px;
    margin-top: 30px;
  }
  .mainContainer .content-row .rowItems .rowItems-text p {
    text-align: justify;
  }
  #title .titleContainer {
    display: flex;
    justify-content: stretch;
    align-items: center;
    flex-direction: column;
    max-width: 100%;
    padding: 10px;
  }
  #title .titleContainer .social {
    padding: 20px;
  }
  #title .titleContainer .social .appoint a {
    padding: 10px 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  #navigation {
    position: relative;
  }
  #navigation .navContainer {
    max-width: 100%;
  }
  #navigation .navContainer .nav {
    width: 100%;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    flex-direction: column;
  }
  #navigation .navContainer .nav .bars {
    padding: 10px;
  }
  #navigation .navContainer .nav .bars .barBtn {
    display: block;
  }
  #navigation .navContainer .nav .nav-ul-respons {
    transition: height 0.5s all;
    height: 0px;
    overflow: hidden;
    margin-top: 10px;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    flex-direction: column;
    padding-top: 10px;
  }
  #navigation .navContainer .nav .nav-ul-respons .li-respons {
    width: 100%;
    background-color: #202c45;
    border-bottom: 1px solid #1196CC;
  }
  #navigation .navContainer .nav .nav-ul-respons .li-respons a {
    color: #fff;
  }
  #navigation .navContainer .logo {
    position: absolute;
    top: 30px;
    left: 5px;
  }
  .col-md-12 {
    width: 100%;
  }
  .mainContainer {
    max-width: 100%;
  }
  .mainContainer .mainContent {
    width: 80%;
    margin: auto;
  }
  .mainContainer .content-row {
    padding: 50px 0;
  }
  .mainContainer .content-row .rowItems {
    display: flex;
    justify-content: stretch;
    align-items: flex-start;
    flex-direction: column;
  }
  .mainContainer .content-row .rowItems .rowItems-text h4 {
    margin-bottom: 30px;
    margin-top: 30px;
  }
  .mainContainer .content-row .rowItems .rowItems-text p {
    text-align: justify;
  }
  #title .titleContainer {
    display: flex;
    justify-content: stretch;
    align-items: center;
    flex-direction: column;
    max-width: 100%;
    padding: 10px;
  }
  #title .titleContainer .social {
    padding: 20px;
  }
  #title .titleContainer .social .appoint a {
    padding: 10px 60px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  #navigation .navContainer {
    max-width: 100%;
  }
  .mainContainer {
    max-width: 100%;
  }
  .mainContainer .mainContent {
    width: 80%;
    margin: auto;
  }
  .mainContainer .content-row {
    padding: 50px 0;
  }
  .mainContainer .content-row .rowItems {
    display: flex;
    justify-content: stretch;
    align-items: flex-start;
    flex-direction: column;
  }
  .mainContainer .content-row .rowItems .rowItems-text h4 {
    margin-bottom: 30px;
    margin-top: 30px;
  }
  .mainContainer .content-row .rowItems .rowItems-text p {
    text-align: justify;
  }
  #title .titleContainer {
    display: flex;
    justify-content: stretch;
    align-items: center;
    flex-direction: column;
    max-width: 100%;
    padding: 10px;
  }
  #title .titleContainer .social {
    padding: 20px;
  }
  #title .titleContainer .social .appoint a {
    padding: 10px 60px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1400px) {
  #navigation .navContainer {
    max-width: 80%;
  }
}/*# sourceMappingURL=aboutUs.css.map */