@font-face {
  font-family: "Vazirmatn";
  src: url("../fonts/webfonts/Vazirmatn[wght].woff2") format("woff2 supports variations"), url("../fonts/webfonts/Vazirmatn[wght].woff2") format("woff2-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: rtl;
  font-family: Vazirmatn;
}

body {
  position: relative;
  height: 100vh;
}

#navigation {
  position: sticky;
  top: 0;
  z-index: 99;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
#navigation .search-box {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background-color: #fff;
  z-index: 100;
  text-align: center;
  height: 0;
  overflow: hidden;
  transition: all 0.5s ease;
}
#navigation .search-box img {
  width: 25px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  filter: invert(70%);
  transition: all 0.5s ease;
}
#navigation .search-box img:hover {
  filter: invert(0%);
}
#navigation .search-box input {
  padding: 30px;
  width: 100%;
  text-align: center;
  font-size: 30px;
  border: none;
  outline: none;
}
#navigation .navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 70%;
  margin: auto;
  padding: 20px 0;
}
#navigation .navContainer .nav {
  display: flex;
  justify-content: stretch;
  align-items: center;
}
#navigation .navContainer .nav .bars {
  display: flex;
  justify-content: stretch;
  align-items: center;
}
#navigation .navContainer .nav .bars .searchBar {
  padding: 10px 10px 0 10px;
}
#navigation .navContainer .nav .bars .searchBar img {
  width: 30px;
  vertical-align: baseline;
}
#navigation .navContainer .nav .bars .barBtn {
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  display: none;
}
#navigation .navContainer .nav .nav-ul {
  display: flex;
  justify-content: stretch;
  align-items: center;
  transition: height 0.5s all;
  margin: 0;
}
#navigation .navContainer .nav .nav-ul li {
  list-style: none;
  margin: 0;
  padding: 0;
  transition: all 0.5s ease;
}
#navigation .navContainer .nav .nav-ul li a {
  display: inline-block;
  text-decoration: none;
  color: black;
  margin: 0;
  font-size: 20px;
  padding: 10px 20px;
}
#navigation .navContainer .nav .nav-ul li .active-a, #navigation .navContainer .nav .nav-ul li :hover {
  background-color: #202c45;
  border-radius: 30px;
  color: #fff;
}
#navigation .navContainer .logo {
  width: 50px;
  height: 50px;
}
#navigation .navContainer .logo img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.visitModal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -1;
  transition: all 1s ease;
}
.visitModal .popUp {
  background-color: #fff;
  width: 800px;
  box-shadow: 0 0 20px 8px rgb(240, 240, 240);
  border-radius: 30px;
}
.visitModal .popUp .popUp-title {
  background-color: #ccc;
  border-radius: 30px 30px 0 0;
  padding: 20px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.visitModal .popUp .popUp-title h3 {
  color: #fff;
}
.visitModal .popUp .popUp-title img {
  width: 25px;
  height: 25px;
  filter: invert(100%);
}
.visitModal .popUp .popUp-content {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  width: 100%;
  height: 100%;
}
.visitModal .popUp .popUp-content .contentItem1 {
  flex: 50%;
  background-color: #CCC;
  border-radius: 0 0 30px 0;
  padding: 20px 0;
}
.visitModal .popUp .popUp-content .contentItem1 .detail {
  text-align: justify;
  color: #fff;
  margin: 20px;
  padding: 20px;
  border: 1px solid #fff;
  border-radius: 30px;
}
.visitModal .popUp .popUp-content .contentItem2 {
  flex: 50%;
  padding: 20px 0;
}
.visitModal .popUp .popUp-content .contentItem2 .warning {
  margin: 20px;
  padding: 20px;
  border: 1px solid red;
  background-color: rgb(255, 158, 158);
  border-radius: 30px;
}
.visitModal .popUp .popUp-content .contentItem2 .warning .titleWarning {
  display: flex;
}
.visitModal .popUp .popUp-content .contentItem2 .warning .titleWarning img {
  width: 20px;
  height: 20px;
  padding-left: 5px;
}
.visitModal .popUp .popUp-content .contentItem2 .warning .titleWarning h4 {
  color: #202c45;
}
.visitModal .popUp .popUp-content .contentItem2 .warning p {
  color: #202c45;
  text-align: justify;
}
.visitModal .popUp .popUp-content .contentItem2 .cI-b {
  position: relative;
  width: 100%;
  height: 80px;
}
.visitModal .popUp .popUp-content .contentItem2 .actionBar {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}
.visitModal .popUp .popUp-content .contentItem2 .actionBar .nextBtn {
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 50%;
  padding-top: 3px;
}
.visitModal .popUp .popUp-content .contentItem2 .actionBar .prevBtn {
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 50%;
  padding: 3px;
}
.visitModal .popUp .popUp-content .contentItem2 .timeTab {
  padding: 10px;
  text-align: center;
  color: #202c45;
}
.visitModal .popUp .popUp-content .contentItem2 .nextTime {
  text-align: center;
}
.visitModal .popUp .popUp-content .contentItem2 .nextTime a {
  text-decoration: none;
  background-color: #1196CC;
  display: inline-block;
  padding: 10px;
  color: #fff;
  border-radius: 30px;
}

#takeTurn {
  padding-top: 100px;
}
#takeTurn .takeContainer {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  width: 40%;
  margin: auto;
}
#takeTurn .takeContainer .takeTitle {
  text-align: center;
}
#takeTurn .takeContent {
  box-shadow: 0 0 20px 8px rgb(240, 240, 240);
  padding: 40px;
  border-radius: 30px;
  margin-top: 40px;
}
#takeTurn .takeContent .contentItem1 {
  width: 100%;
  border: 1px solid rgb(192, 192, 192);
  border-radius: 30px;
  padding: 40px 20px;
}
#takeTurn .takeContent .contentItem1 h3 {
  padding: 20px 0;
}
#takeTurn .takeContent .contentItem1 .contentDetail {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#takeTurn .takeContent .contentItem1 .contentDetail img {
  width: 20px;
  height: 20px;
  padding-left: 5px;
}
#takeTurn .takeContent .contentItme2 {
  margin-top: 30px;
  width: 100%;
  border: 1px solid rgb(192, 192, 192);
  border-radius: 30px;
  padding: 40px 20px;
}
#takeTurn .takeContent .contentItme2 h3 {
  padding: 20px 0;
}
#takeTurn .takeContent .contentItme2 .contentBody {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
}
#takeTurn .takeContent .contentItme2 .contentBody .firstTime {
  flex: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#takeTurn .takeContent .contentItme2 .contentBody .firstTime img {
  width: 20px;
  height: 20px;
  padding-left: 5px;
}
#takeTurn .takeContent .contentItme2 .contentBody .takeBtn {
  flex: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#takeTurn .takeContent .contentItme2 .contentBody .takeBtn a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #1196CC;
  font-weight: bold;
}
#takeTurn .takeContent .contentItme2 .contentBody .takeBtn a span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  background-color: #1196CC;
  color: #fff;
  border-radius: 50%;
  margin-right: 3px;
}
#takeTurn .takeContent .contentItem3 {
  margin-top: 30px;
  width: 100%;
  border: 1px solid rgb(192, 192, 192);
  border-radius: 30px;
  padding: 40px 20px;
}
#takeTurn .takeContent .contentItem3 h3 {
  padding: 20px 0;
}
#takeTurn .takeContent .contentItem3 .contentBody {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
}
#takeTurn .takeContent .contentItem3 .contentBody .firstTime {
  flex: 50%;
}
#takeTurn .takeContent .contentItem3 .contentBody .firstTime div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#takeTurn .takeContent .contentItem3 .contentBody .firstTime div img {
  width: 20px;
  height: 20px;
  padding-left: 5px;
}
#takeTurn .takeContent .contentItem3 .contentBody .takeBtn {
  flex: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
#takeTurn .takeContent .contentItem3 .contentBody .takeBtn a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #1196CC;
  font-weight: bold;
}
#takeTurn .takeContent .contentItem3 .contentBody .takeBtn a span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  background-color: #1196CC;
  color: #fff;
  border-radius: 50%;
  margin-right: 3px;
}/*# sourceMappingURL=takeTurn.css.map */